@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:hover {
    scrollbar-color: auto;
}
*{
    font-family: Poppins, Arial;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    --tw-bg-opacity: 1;
    background-color: var(--fallback-p,oklch(var(--p)/var(--tw-bg-opacity)));
    border: 3px solid ;
    border-color: var(--fallback-b3,oklch(var(--b3)/var(--tw-bg-opacity)));
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b3,oklch(var(--b3)/var(--tw-bg-opacity)));
}
input[type='text']{
    background-color: #fff;
}


.top-10-li:hover>h4{
    opacity: 1;
}
.anis-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    filter: blur(20px);
    opacity: .35;
    transform: scale(1.2);
}
.anis-cover-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    filter: grayscale(1);
}


.slider-center{
    left: 50%;
    z-index: 6;
}
.slider-left{
    left: -50%;
    z-index: 2;
}
.slider-right{
    left: 150%;
    z-index: 2;
}
.slider-top{
    left: 150%;
    z-index: 1;
    visibility: hidden;
}

.carousel{
    transition: all ease-in 0.1s ;
}
.carousel-to-r{
    background: linear-gradient(to right,var(--fallback-b3,oklch(var(--b3)/1)) var(--tw-gradient-to-position) , transparent  , transparent ,var(--fallback-b3,oklch(var(--b3)/1)) var(--tw-gradient-to-position));
}
.carousel-to-t{
    background: linear-gradient(to top,var(--fallback-b3,oklch(var(--b3)/1)) var(--tw-gradient-to-position) , transparent , transparent , transparent ,var(--fallback-b3,oklch(var(--b3)/1)) var(--tw-gradient-to-position));
}
.infoHeight{
    height: 80vh;
}
@media (min-width: 768px) {
    .slider-left{
        left: -15%;
    }
    .slider-right{
        left: 115%;
    }
    .slider-top{
        left: 115%;
    }
    .carousel{
        transition:all ease-in-out 0.4s;
    }
    .carousel-to-r{
        background: linear-gradient(to right,var(--fallback-nc,oklch(var(--nc)/1)) var(--tw-gradient-to-position) , transparent , transparent ,var(--fallback-nc,oklch(var(--nc)/1)) var(--tw-gradient-to-position));
    }
    .carousel-to-t{
        background: linear-gradient(to top,var(--fallback-nc,oklch(var(--nc)/1)) var(--tw-gradient-to-position) , transparent , transparent , transparent , var(--fallback-nc,oklch(var(--nc)/1)) var(--tw-gradient-to-position) 
        );
    }
}
@media (max-width: 480px) {
    ::-webkit-scrollbar {
        display: none;
    }
    
}
@media (min-width: 480px) {
    .infoHeight{
        height: 100vh;
    }
}
.loadingBox .spinner1{
    left: 32%;
    animation-delay: -.32s;
}
.loadingBox .spinner2{
    left: 50%;
    animation-delay: -.16s;
}
.loadingBox .spinner3{
    left: 68%;
}
.spinner{
    position: absolute;
    border-radius: 50%;
    opacity: 0.7;
    width: var(--size);
    height: var(--size);
    top: 50%;
    translate: -50% -50%;
    -webkit-animation: loader 1.4s infinite ease-in-out both;
    animation: loader 1.4s infinite ease-in-out both;
}
@keyframes loader {
    0%, 100%, 80% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.loaderContainer{
    display: flex;
    align-items:center;
    width: 100vw;
    height: 100vh;
}
